BODY {FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;font-size:16px;line-height:30px}
TABLE {}
A:link {COLOR: blue; FONT-FAMILY: Arial; FONT-SIZE:15px; TEXT-DECORATION: none}
A:active {COLOR: blue; FONT-FAMILY: Arial; FONT-SIZE: 15px; TEXT-DECORATION: none}
A:visited {COLOR: blue; FONT-FAMILY: Arial; FONT-SIZE: 15px; TEXT-DECORATION: none}
A:hover {BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: blue; FONT-FAMILY: Arial; FONT-SIZE: 15px; TEXT-DECORATION: underline}
NOBR A:link {COLOR: #000000;FONT-SIZE:14px; FONT-FAMILY: Arial;TEXT-DECORATION: none}
NOBR A:active {	COLOR: #000000;FONT-SIZE:14px; FONT-FAMILY: Arial;TEXT-DECORATION: none}
NOBR A:visited {COLOR: #000000;FONT-SIZE:14px; FONT-FAMILY: Arial;TEXT-DECORATION: none}
NOBR A:hover {COLOR: blue;FONT-SIZE:11px; FONT-FAMILY: Arial;TEXT-DECORATION: underline}
a.lch {text-decoration: bold; color: #0000CC; font: 15px;padding:5px}
.arl{font-size:16px;padding-right:10px}
.menu a{font-size:16px;}
sup{display:block;float:left;width:30px}